@model Teste01.Models.UserModel
<link href="~/Content/Site.css" rel="stylesheet" />
<html>
<body class="bodyHome">
    <header>
        <nav>
            <ul class="nav-list">
                <li><img src="~/Images/IcoHome.png" width=30 /></li>
                <li><a href="/Home/Home">Home</a></li>
                <li><a href="/Home/Cadastros">Cadastros</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
</body>
</html>
